body{
    margin: 0;
    background: #E5E5E5;
}
header{
    background:linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
}
.container{
    margin: auto;
    width: 80%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__number{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__number p{
    font-size: 15px;
    color: white;
    font-weight: 500;
}
.navbar__number img{
    width: 20px;
    height: 20px;
}
.navbar__city{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 300px;
}
.navbar__city p{
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.navbar__city img{
    width: 15px;
    height: 25px;
}
.navbar__link{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar__link a{
    color: white;
    text-decoration: 0;
    cursor: pointer;
}
.evarugs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.eva_logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.evarugs_info{
    display: flex;
    gap: 25px;
}
.evarugs_info a {
    color: #737373;
    text-decoration: none;
}
.banner{
    background: url(/assets/images/подложка\ 1.png);
    object-fit: cover;
}
.banner_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner_title h1{
    font-size: 50px;
    line-height: 59px;
    font-weight: 900;
}
.banner_title p {
    font-weight: 300;
    font-size: 24px;
}
.banner_title button{
    width: 179px;
    height: 53px;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border: 0;
    border-radius: 7px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.eva{
    background: url(/assets/images/для\ фона.png);
    object-fit: cover;
}
.eva h1{
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}
.evas{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.eva_cards{
    width: 344px;
    height: 414px;
    background: white;
    border-radius: 9px;
    text-align: center;
    padding: 7px 7px;
    box-shadow: 0 0 5px palevioletred;
}
.reviews_cards{
    display: flex;
    margin-left: 10px;
}
.reviews{
    margin-top: 15%;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    height: 45vh;
}
footer{
    background: white;
    height: 50vh;
}
.footer__navbar{
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding-top: 150px;
}
.footer__link h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.footer__num p{
    margin-top: 20px;
}
.footer__num h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.footer__info h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}